html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

body{
    background-color: #98CF28;
    padding-top: 100px;  
    font-family: "Lato", sans-serif;
    
}


/*Navigation Bar Design*/
.nav-bar{
    padding: 2vh 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: #98CF28;
    z-index: 99;
    overflow: visible;
    transition: .2s box-shadow ease-in-out;

}
.bottom-border{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.nav-list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 5vh;
    height: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}
a > img{
    width: 20vh;
}
.nav-list-item{
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-list-item > a{
    text-decoration: none;
    color: white;
    padding-top: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
     font-style: normal;
     font-size: 25px;
     letter-spacing: 1px;
    transition: .3s color ease-in-out;
    height: 100%;
    align-items: center;
    display: flex;
     
}
.nav-list-item > a:hover{
    text-decoration: none;
    color: #CF2845;
    padding-top: 0;
    font-family: "Lato", sans-serif;
    font-style: normal;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}

.nav-button{
    background-color: #CF2845;
    border-style: none;
    border-radius: 10px;
    width: 150px;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
    display: flex; 
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    box-shadow: inset 0px 2px hsl(350, 68%, 60%),
    0 2px 2px rgb(0, 0, 0, .4);
    transition: .2s color ease-in-out;
    
     
}
.nav-button:hover{
    color: #98CF28;
}

.nav-button:active {
    scale: 1.05;
}

.toggle_btn {
    color: white;
    cursor: pointer;
    display: none;
    font-size: 2rem;
}
.dropdown-menu{
    display: flex;
    position: fixed;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    right: 1rem;
    width: 300px;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   
}

.dropdown-menu > .nav-button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;

}

.dropdown-menu.open{
    height: 240px;
    display: none;
    
}

.sub-menu{
    position: absolute;
    opacity: 0;
    transition: 1s transform ease-in-out, 1s opacity ease-in-out, 1s visibility ease-in-out;
    transform: translateX(-50px);
    top: 100%;
    visibility: hidden;
    display: flex;
    background-color: hsl(0, 0%, 0%, .75);
    list-style-type: none;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    backdrop-filter: blur(5PX);
    box-shadow: inset 0 1px hsl(0, 0%, 0%, .75), 1px 5px 5px hsl(0, 0%, 0%, .75);

}

.service-header:hover .sub-menu{
    visibility: visible;
    transform: translateX(0px);
    opacity: 1;
  
}

.sub-menu li{
    margin: 0;
    width: 100%;
}
.sub-menu li a {
    text-decoration: none;
    width: 100%;
    color: white;
    font-size: 18px;
    letter-spacing: .15rem;
    transition: .2s color ease-in-out, .3s padding ease-in-out ;
}
.sub-menu li a:hover{
    color: #CF2845;
    padding-left: 5px;
 
}
.sub-menu li a:hover .sub-menu li{
    background-color: black;
}

/* Landing Page CSS*/
.grass-image{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50%;
    filter: drop-shadow(20px 0px 3px);

}
.home-div > h1, .services > h1, .title{
    color: white;
    padding-left: 2vh;
    padding-right: 2vh;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.home-div > p{
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0px;
    margin-top: 0px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #D9D9D9;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.home-div{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home{
    height: calc(100vh - 100px);
    position: relative;
}

/* Services Section CSS */

.services{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100vh;
    padding-top: 105px;

}
.services > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
    text-align: center;
 
}
.services-cards{
    display: flex;
    height: 70vh;
    width: 100%;
} 

.landscaping-card, .lawn-maintenance-card {
    position: relative; /* Ensure positioning context for pseudo-elements */
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent overflow issues */
}
.landscaping-card{
    background-image: url(./images/image-landscaping.jpg);
    background-repeat: none;
    object-fit: cover;
    background-size: cover;
}
.lawn-maintenance-card{
    background-image: url(./images/image-lawncare-mowing.jpg);
    background-repeat: none;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.card-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsl(0, 0%, 0%, 0.5);
    z-index: 1;
}


.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    gap: 5px;
    transition: .2s opactiy ease-in-out;
}
.card-content *{
    z-index: 2;
}
.card-title{
    text-align: center;
    color:white;
  
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    letter-spacing: 2px;

}
.card-p{
    text-align: center;
    color:#D9D9D9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    letter-spacing: 2px;
    
    
}


.learn-more-btn{
    text-decoration: none;
    color: white;
    border-radius: 5%;
    padding: 5px 5px;
    background-color: #CF2845;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: inset 0px 1.5px hsl(350, 68%, 60%),
    0 5px 4px rgb(0, 0, 0);
    transition: .2s transform ease-in-out, .2s box-shadow ease-in-out;
    margin-top: 10px;
}   
.learn-more-btn:hover{
    transform: scale(1.1);
    box-shadow:none;
}

/* About Us Section CSS */


.row-about-us{
    display: flex;  
    padding-left: 5vh;
    padding-right: 5vh;
    gap: 50px;
}
.row-about-us div img{
    width: 500px;
    min-height: auto;

}
.about-us-col{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.why-us{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.why-us-card{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    padding-left: 2vh;
    padding-right: 2vh;

}

.card-number{
    background: -webkit-linear-gradient(white, #0a1647);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
}

.why-us-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.row-about-us div h1{
    font-weight: 600;
    letter-spacing: 2px;
}
.row-about-us div p{

    font-weight: 600;
    font-size: 18px;
}
.why-us-content h2{
    font-weight: 600;
}
.why-us-content p{
   
    font-weight: 600;
    font-size: 18px;
}


.form{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 5vh;
    width: 90%;
    border-radius: 10px;
    border-color: black;
    border-width: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    
}
#quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form > div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
input{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.form-floating{
    width: 100%;
}

.scroll-box {
    display: flex;
    gap: 0px;
    flex-direction: column;
    width: 100%;
    height: 150px;
    background-color: white;
    overflow-y: scroll;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 
}

.checkbox-item {
    color: black;
    width: 100%;
}
.checkbox-item:hover{
    background-color: #D3D3D3;
}
.select-all{
    color: white;
    font-size: 25px;
}


form button{
    margin-top: 20px;
    border-radius: 10px;
    height: 50px;
    font-weight: 600;
    color: #CF2845;
    border-color: #98CF28;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;

}

form button:hover, form button:focus, form button:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contact-img{
    color: white;
    font-size: 100px;;
}
.contact-container{

    padding: 5vh;
    background-color: rgba(0, 0, 0, 0.4) ;
    display: flex;
    justify-content: center;
    gap: 100px;
    border-radius: 10px;
    border-color: black;
    border-width: 10px;
    justify-content: center;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.contact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: center;
    color: white;
}
.contact-card a {
    font-size: 5vh;
    color: white;
}
.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.instagram-img{
    font-size: 5vh;
}
.nav-link{
    color: white;
}
/*Navigation Bar Responsive Design*/
@media(max-width: 992px){
    .nav-list, .buttons{
        display: none;
    } 
    .toggle_btn{
        display:block;
    }
    .home-div > h1, .services > h1, .title{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        
    }
    .home-div > p{
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
    .dropdown-menu{
        display: flex;
        
    }
    .services-cards{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .lawn-maintenance-card::before{
        background-position: center;
    }
    .row{
        gap: 30px;
    }
    .row-about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       

    }
    .row-about-us div h1 {
        text-align: center;
    }
    .row-about-us div p {

    }
    #image{
        order: 1;
        }
    .row-about-us div img{
        width: 100%;
    
    }
    .why-us-card{
        flex-direction: column;
    }
    .why-us-card-container{
        gap: 100px;
    }
    .why-us-content h2{
        text-align: center;
    }
    #card-title {

        font-size: 3rem;
    }
    .contact-container{
        flex-direction: column;
       
    }
    .contact-card a{
        font-size: 3vh;
    }

}